# AVL Transport System
# Env Variables

# Backend
PORT=3000
DB_HOST=localhost
DB_USER=sa
DB_PASSWORD=your_password
DB_NAME=AVLTransport
MQTT_BROKER_URL=mqtt://localhost:1883

# Frontend
VITE_API_BASE_URL=http://localhost:3000

# Simulator
SIMULATOR_TICK_RATE_MS=1000
SIMULATOR_GPS_NOISE_LEVEL=0.01
